@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <div class="alert alert-warning" style="font-size:large">Seems Your Uniform Resource Locator is invalid. Please try again!</div>
    </div>
</section>
