@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Breadcrumb");

<section class="checkout spad">
    <div class="container">
        <div class="alert alert-success" style="font-size:large">Congratulations! You have successfully ordered. We will ship your order as soon as possible.</div>
    </div>
</section>
